{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% load account socialaccount %}
{% block title %}Вход | {{block.super}}{% endblock title %}
{% block extra_body %}
    <script type="text/javascript">
$(document).ready(function() {
var url = location.pathname;
  if ("url:contains('email')") {
      $('body').addClass('signup-page');
      $('nav').removeClass('navbar-default navbar-fixed-top navbar-color-on-scroll navbar-transparent');
      $('nav').addClass('navbar-primary navbar-transparent navbar-absolute');
  }
});
</script>
{% endblock %}
{%block content%}
<div class="page-header header-filter" filter-color="blue">
    <div class="hero" id="particles-js">
		<div class="container">
			<div class="row">
    			<div class="col-md-10 col-md-offset-1">

					<div class="card card-profile">
                        <div class="card-avatar">
                            {% if user.userprofile.picture %}
                                 <a href="{% url 'user_page' %}"><img class="img" alt="{{ user }}" src="{{ user.userprofile.picture.url }}"></a>
                            {% else %}
                                <a href="{% url 'user_page' %}"><img class="img" alt="{{ user }}" src="{% static "/img/standart.jpg" %}"></a>
                            {% endif %}
                        </div>
                        <h2 class="card-title text-center">{{ user }}{% if user.is_superuser %} (admin){% endif %}</h2>
                        <div class="row">
                            <div class="col-md-5 col-md-offset-1">
            					<div class="info info-horizontal">
            						<div class="icon icon-info">
            							<i class="material-icons">group</i>
            						</div>
            						<div class="description">
            							<h4 class="info-title">{% trans "E-mail Addresses" %}</h4>
                                    {% if user.emailaddress_set.all %}
            							<p class="description">{% trans 'The following e-mail addresses are associated with your account:' %}</p>
                                        <form action="{% url 'account_email' %}" class="email_list" method="post">
                                            {% csrf_token %}
                                            <fieldset class="blockLabels">

                                                {% for emailaddress in user.emailaddress_set.all %}
                                                    <div class="ctrlHolder">
                                                        <label for="email_radio_{{forloop.counter}}" class="{% if emailaddress.primary %}primary_email{%endif%}">
                                                            <input id="email_radio_{{forloop.counter}}" type="radio" name="email" {% if emailaddress.primary or user.emailaddress_set.count == 1 %}checked="checked"{%endif %} value="{{emailaddress.email}}"/>
                                                            {{ emailaddress.email }}
                                                        </label>
                                                    </div>
                                                {% endfor %}
                                                <div class="buttonHolder">
                                                    <button class="secondaryAction btn btn-primary btn-round" type="submit" name="action_primary" >{% trans 'Make Primary' %}</button>
                                                    <button class="primaryAction btn btn-danger btn-round" type="submit" name="action_remove" >{% trans 'Remove' %}</button>
                                                </div>
                                            </fieldset>
                                        </form>
                                    {% else %}
                                        <p><strong>{% trans 'Warning:'%}</strong> {% trans "You currently do not have any e-mail address set up. You should really add an e-mail address so you can receive notifications, reset your password, etc." %}</p>
                                    {% endif %}
                                    </div>
                                </div>
            				</div>
                            <div class="col-md-5">
                                <div class="info info-horizontal">
                                    <div class="icon icon-primary"><i class="material-icons">code</i></div>
                                    <div class="description">
                                        <h4 class="info-title">{% trans "Add E-mail Address" %}</h4>
                                        <form method="post" action="{% url 'account_email' %}" class="add_email">
                                            {% csrf_token %}
                                            {{ form.as_p }}
                                            <button class="btn btn-primary btn-round" name="action_add" type="submit">{% trans "Add E-mail" %}</button>
                                        </form>
            						</div>
            					</div>
                            </div>
                        </div>
                	</div>

                </div>
            </div>
		</div>
        <div class="w wave"></div>
        <div class="w wave2"></div>
        <div class="w wave3"></div>
        <div class="w wave4"></div>
    </div>
</div>
{%endblock content%}