{% extends "base.html" %}
{% load static %}
{% load account socialaccount %}
{% block title %}Вход | {{block.super}}{% endblock title %}
{%block content%}
<div class="page-header header-filter" filter-color="blue">
    <div class="hero" id="particles-js">
		<div class="container">
            {% include "messages.html" %}
			<div class="row">
				<div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
                    <div class="card card-signup">
						<form class="form" id="login_form" method="post" action="{% url 'login' %}" autocomplete="on">
                            {% csrf_token %}
							<div class="header header-primary text-center">
								<h4 class="card-title">Вход на сайт</h4>
								{% get_providers as socialaccount_providers %}
                                {% if socialaccount_providers %}
                                <div class="social-line">
                                    <a href="{% provider_login_url "facebook" method="oauth2" %}" class="btn btn-just-icon btn-simple">
                                    <i class="fa fa-facebook-square"></i></a>
                                    <a href="{% provider_login_url "vk" method="oauth2" %}" class="btn btn-just-icon btn-simple">
                                    <i class="fa fa-vk"></i></a>
                                </div>
                                {% endif %}
							</div>
							<p class="description text-center">Введите свои данные</p>
							<div class="content">
								<div class="input-group">
									<span class="input-group-addon">
										<i class="material-icons">face</i>
									</span>
									<div class="form-group is-empty">
                                        <input type="text" name="username" value="" class="form-control" placeholder="Имя пользователя" autofocus>
                                        <span class="material-input"></span>
                                    </div>
								</div>
								<div class="input-group">
									<span class="input-group-addon">
										<i class="material-icons">lock_outline</i>
									</span>
									<div class="form-group is-empty">
                                        <input type="password" name="password" value="" placeholder="Пароль..." class="form-control">
                                        <span class="material-input"></span>
                                    </div>
								</div>
							</div>
							<div class="footer text-center">
								<input type="submit" value="Войти" class="btn btn-primary" />
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
        <div class="w wave"></div>
        <div class="w wave2"></div>
        <div class="w wave3"></div>
        <div class="w wave4"></div>
    </div>
</div>
{%endblock content%}