{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% load account socialaccount %}
{% block title %}Вход | {{block.super}}{% endblock title %}
{% block extra_body %}
    <script type="text/javascript">
$(document).ready(function() {
var url = location.pathname;
  if ("url:contains('email')") {
      $('body').addClass('signup-page');
      $('nav').removeClass('navbar-default navbar-fixed-top navbar-color-on-scroll navbar-transparent');
      $('nav').addClass('navbar-primary navbar-transparent navbar-absolute');
  }
});
</script>
{% endblock %}
{%block content%}
<div class="page-header header-filter" filter-color="blue">
    <div class="hero" id="particles-js">
		<div class="container">
			<div class="row">
    			<div class="col-md-10 col-md-offset-1">
					<div class="card card-profile">
                        <div class="card-avatar">
                            {% if user.userprofile.picture %}
                                 <a href="{% url 'user_page' %}"><img class="img" alt="{{ user }}" src="{{ user.userprofile.picture.url }}"></a>
                            {% else %}
                                <a href="{% url 'user_page' %}"><img class="img" alt="{{ user }}" src="{% static "/img/standart.jpg" %}"></a>
                            {% endif %}
                        </div>
                        <h2 class="card-title text-center">{{ user }}{% if user.is_superuser %} (admin){% endif %}</h2>
                        <div class="row">
            					<div class="info info-horizontal" style="max-width: 90%;">
            						<div class="description">
            							<h4 class="info-title">{% trans "Change Password" %}</h4>
                                        <div class="row">
                                    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
                                        {% csrf_token %}

                                        <div class="input-group">
                                            <div class="col-md-4">
                                            <div class="form-group is-empty">
                                                <input type="password" name="oldpassword" required="" placeholder="Текущий пароль:" id="id_oldpassword" class="form-control">
                                                <span class="material-input"></span>
                                            </div>
                                            </div>
                                            <div class="col-md-4">
                                            <div class="form-group is-empty">
                                                <input type="password" name="password1" placeholder="Новый пароль" required="" id="id_password1" class="form-control">
                                                <span class="material-input"></span>
                                            </div>
                                            </div>
                                            <div class="col-md-4">
                                            <div class="form-group is-empty">
                                                <input type="password" name="password2" required="" placeholder="Новый пароль (ещё раз)" id="id_password2" class="form-control">
                                                <span class="material-input"></span>
                                            </div>
                                            </div>
                                            </div>

                                        <button type="submit" name="action" class="btn btn-primary btn-round">{% trans "Change Password" %}</button>
                                    </form>
                                        </div>
                                    </div>
                                </div>

                        </div>
                	</div>
                </div>
            </div>
		</div>
        <div class="w wave"></div>
        <div class="w wave2"></div>
        <div class="w wave3"></div>
        <div class="w wave4"></div>
    </div>
</div>
{%endblock content%}