{% extends "base.html" %}
{% load static %}
{% block title %}Новый пароль | {{block.super}}{% endblock title %}
{% block extra_body %}
    <script type="text/javascript">
$(document).ready(function() {
    $('body').addClass('login-page');
    $('nav').removeClass('navbar-default navbar-fixed-top navbar-color-on-scroll navbar-transparent');
    $('nav').addClass('navbar-primary navbar-transparent navbar-absolute');
});
</script>
{% endblock %}
{%block content%}
<div class="page-header header-filter" filter-color="blue">
    <div class="hero" id="particles-js">
		<div class="container">
			<div class="row">
    			<div class="col-md-12">
					<div class="card card-profile">
                        <h2 class="card-title text-center">Меняй уже свой пароль</h2>
                    {% include "messages.html" %}
                        <div class="info info-horizontal" style="max-width: 90%;">
                            <div class="description">
                                <div class="row">
                                    <div class="col-md-5 col-md-offset-1">
                                        <form method="post">{% csrf_token %}
                                            <div class="form-group is-empty">
                                                <input type="password" name="new_password1" placeholder="Новый пароль" required="" id="id_new_password1" class="form-control">
                                                <span class="material-input" style="color: #f44336;">{{ form.new_password1.errors }}</span>
                                            </div>
                                            <div class="form-group is-empty">
                                                <input type="password" name="new_password2" placeholder="Повтори" required="" id="id_new_password2" class="form-control">
                                                <span class="material-input" style="color: #f44336;">{{ form.new_password2.errors }}</span>
                                            </div>
                                            <button type="submit" class="btn btn-primary btn-round">Сменить</button>
                                        </form>
                                    </div>
                                    <div class="col-md-5 col-md-offset-1">
                                        <ul class="text-left">
                                            <li>Ваш пароль не должен совпадать с вашим именем или другой персональной информацией или быть слишком похожим на неё.</li>
                                            <li>Ваш пароль должен содержать как минимум 6 символов.</li>
                                            <li>Ваш пароль не может быть одним из широко распространённых паролей.</li>
                                            <li>Ваш пароль не может состоять только из цифр.</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                	</div>
                </div>
            </div>
		</div>
        <div class="w wave"></div>
        <div class="w wave2"></div>
        <div class="w wave3"></div>
        <div class="w wave4"></div>
    </div>
</div>
{%endblock content%}