{% extends "base.html" %}
{% block title %}Сменить пароль | {{block.super}}{% endblock title %}

{%block content%}
<div class="page-header header-filter">
    <div class="hero" id="particles-js">
		<div class="container">
			<div class="row">
				<div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
                    <div class="card card-signup">
                        <form method="post">
                            {% csrf_token %}
                            <div class="header header-primary text-center">
								<h4 class="card-title">Сброс пароля</h4>
							</div>
                            <p class="description text-center">Если вы были ранее зарегистрированы, то на вашу почту будет отправлена ссылка на восстановление</p>
                            <div class="content">
                                <div class="input-group">
									<span class="input-group-addon">
										<i class="material-icons">mail</i>
									</span>
									<div class="form-group is-empty">
                                        <input type="email" name="email" maxlength="254" required="" id="id_email" class="form-control" placeholder="Ваш e-mail" autofocus>
                                         <span class="material-input" style="color: #f44336;">{{ form.email.errors }}</span>
                                    </div>
								</div>
                            </div>
                            <div class="footer text-center">
								<input type="submit" value="Отправить" class="btn btn-primary" />
							</div>
                          </form>
					</div>
				</div>
			</div>
		</div>
        <div class="w wave"></div>
        <div class="w wave2"></div>
        <div class="w wave3"></div>
        <div class="w wave4"></div>
    </div>
</div>
{%endblock content%}