{% extends "base.html" %}
{% block title %}Поздравляем с новым паролем | {{block.super}}{% endblock title %}

{%block content%}
<div class="page-header header-filter">
    <div class="hero" id="particles-js">
		<div class="container">
			<div class="row">
				<div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
                    <div class="card card-signup">
                        <div class="header header-primary text-center">
                            <h4 class="card-title">Поздравляем!</h4>
                        </div>
                        <div class="content">
                            <p class="description text-center">Ваш пароль установлен. Вы можете под ним <a href="{% url 'login' %}">Войти</a> сейчас.</p>
                        </div>
                    </div>
				</div>
			</div>
		</div>
        <div class="w wave"></div>
        <div class="w wave2"></div>
        <div class="w wave3"></div>
        <div class="w wave4"></div>
    </div>
</div>
{%endblock content%}