{% extends "base.html" %}
{% block title %}Сменить пароль | {{block.super}}{% endblock title %}

{%block content%}
<div class="page-header header-filter">
    <div class="hero" id="particles-js">
		<div class="container">
			<div class="row">
				<div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
                    <div class="card card-signup">
                        <div class="header header-primary text-center">
                            <h4 class="card-title">Сброс пароля</h4>
                        </div>
                        <div class="content">
                        <p class="description text-center">Мы отправили вам по электронной почте инструкции по настройке пароля, если учетная запись существует с введенным вами электронным письмом.
    Вы должны получить их в ближайшее время.</p>
                        <p class="description text-center">Если вы не получили электронное письмо, убедитесь, что вы ввели адрес, который вы зарегистрировали, и проверьте папку со спамом.</p>
                        </div>
                    </div>
				</div>
			</div>
		</div>
        <div class="w wave"></div>
        <div class="w wave2"></div>
        <div class="w wave3"></div>
        <div class="w wave4"></div>
    </div>
</div>
{%endblock content%}