body .hero {
  overflow: hidden;
  position: relative;
  height: 100%;
  min-height: 200px;
  background: linear-gradient(100deg, #00bcd4, #379deb 25%, #1f2fa2);
}
body .hero .w {
  position: absolute;
  top: 100%;
  left: -25vw;
  right: 0px;
  background: url(https://i.koya.io/whitewave2.svg) center;
}
body .hero .wave {
  height: 200px;
  transform: translateY(-40px);
}
body .hero .wave2 {
  height: 240px;
  transform: translateY(-80px);
  background-size: 960px 240px;
  opacity: 0.5;
  left: -80vw;
  right: -5vw;
}
body .hero .wave3 {
  height: 220px;
  transform: translateY(-120px);
  background-size: 880px 220px;
  opacity: 0.33;
  left: 0vw;
  right: -20vw;
}
body .hero .wave4 {
  height: 280px;
  transform: translateY(-160px);
  background-size: 1120px 280px;
  opacity: 0.1;
  left: 0vw;
  right: -40vw;
}
