{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block title %}{{ user }} | {{block.super}}{% endblock title %}
{% block extra_body %}
    <script type="text/javascript">
$(document).ready(function() {
    $('body').addClass('login-page');
    $('nav').removeClass('navbar-default navbar-fixed-top navbar-color-on-scroll navbar-transparent');
    $('nav').addClass('navbar-primary navbar-transparent navbar-absolute');
});
</script>
{% endblock %}
{%block content%}
<div class="page-header header-filter" filter-color="blue">
    <div class="hero" id="particles-js">
		<div class="container">
        {% include "messages.html" %}
			<div class="row">
    			<div class="col-md-10 col-md-offset-1">

					<div class="card card-profile">
                        <div class="card-avatar">
                            {% if user.socialaccount_set.all.0.get_avatar_url %}
                                <a href=""><img class="img" alt="{{ user }}" src="{{ user.socialaccount_set.all.0.get_avatar_url }}"></a>
                            {% elif user.userprofile.picture %}
                                 <a href=""><img class="img" alt="{{ user }}" src="{{ user.userprofile.picture.url }}"></a>
                            {% else %}
                                <a href=""><img class="img" alt="{{ user }}" src="{% static "/img/standart.jpg" %}"></a>
                            {% endif %}
                        </div>
                        <h2 class="card-title text-center">{{ user }}{% if user.is_superuser %} (admin){% endif %}</h2>
                        <div class="row">
                            {% if user.socialaccount_set.all.0.get_avatar_url %}
                            <div class="col-md-5 col-md-offset-1">
            					<div class="info info-horizontal" style="max-width: 90%;">
                                    <div class="icon icon-info">
            							<i class="material-icons">verified_user</i>
            						</div>
            						<div class="description">
                                        <h4 class="info-title"><a href="{% url 'change_password' %}">Смена пароля</a></h4>
                                    </div>
                                    <div class="icon icon-info">
            							<i class="material-icons">account_circle</i>
            						</div>
            						<div class="description">
                                        <h4 class="info-title"><a href="{% url 'user_change' %}">Смена имени</a></h4>
                                    </div>
                                </div>

            				</div>
                            {% else %}
                                <div class="col-md-5 col-md-offset-1">
            					<div class="info info-horizontal" style="max-width: 90%;">
            						<div class="icon icon-info">
            							<i class="material-icons">perm_media</i>
            						</div>
            						<div class="description">
            							<h4 class="info-title">Изображение профиля</h4>
                                        <form method="post" action=" " enctype="multipart/form-data">
                                            {% csrf_token %}
                                            <div class="checkbox">
								            <label><input type="checkbox" name="picture-clear" id="picture-clear_id">Очистить</label>
							                </div>
                                            <div class="form-group form-file-upload is-empty is-fileinput">
                                                <input type="file" name="picture" id="id_picture">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="material-icons">camera</i></span>
                                                    <input type="text" readonly="" class="form-control" placeholder="Фото">
                                                </div>
                                                <span class="material-input"></span></div>
                                            <input type="submit" value="Изменить" class="btn btn-primary" >
                                        </form>
                                    </div>
                                </div>
            				</div>
                            <div class="col-md-5 col-md-offset-1">
            					<div class="info info-horizontal" style="max-width: 90%;">
                                    <div class="icon icon-info">
            							<i class="material-icons">verified_user</i>
            						</div>
            						<div class="description">
                                        <h4 class="info-title"><a href="{% url 'change_password' %}">Смена пароля</a></h4>
                                    </div>
                                    <div class="icon icon-info">
            							<i class="material-icons">account_circle</i>
            						</div>
            						<div class="description">
                                        <h4 class="info-title"><a href="{% url 'user_change' %}">Смена имени</a></h4>
                                    </div>
                                </div>
            				</div>
                            {% endif %}

                        </div>
                	</div>

                </div>
            </div>
		</div>
        <div class="w wave"></div>
        <div class="w wave2"></div>
        <div class="w wave3"></div>
        <div class="w wave4"></div>
    </div>
</div>
{%endblock content%}
