{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}{{ category.name }} | {{block.super}}{% endblock title %}

{%block content%}
{% if category.image %}
    <div class="page-header header-filter header-small" data-parallax="active"
         style="background-image: url('{{ category.image.url }}');">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center">
                <h1 class="title">Категория {{ category.name }}</h1>
            </div>
        </div>
    </div>
    </div>
{% else %}
    <div class="page-header header-filter header-small" data-parallax="active">
    <div class="hero" id="particles-js">
        <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center">
                <h1 class="title">Категория {{ category.name }}</h1>
            </div>
        </div>
    </div>
       <div class="w wave"></div>
       <div class="w wave2"></div>
       <div class="w wave3"></div>
       <div class="w wave4"></div>
    </div>
</div>
{% endif %}
    <div class="main main-raised">
<div class="container">
<div class="section">
{% if category %}
    <div class="row">
        <div class="col-md-6 col-md-offset-3 text-center">
            <ul class="nav nav-pills nav-pills-primary">
                {% for cat in category_list %}
                    {% if cat.get_absolute_url in request.path %}
                        <li class="active"><a href="{{ cat.get_absolute_url }}">{{ cat.name }}</a></li>
                    {% else %}
                        <li><a href="{{ cat.get_absolute_url }}">{{ cat.name }}</a></li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="row">
    {% for page in pages %}
    <div class="col-md-10 col-md-offset-1">
        <div class="card card-plain card-blog">
            <div class="row">
                <div class="col-md-4">
                    {% if page.image %}
                        <a href="{{ page.get_absolute_url }}">
                    <div class="card-image">
                        <img class="img img-raised" src="{{ page.image.url }}">
                        <div class="ripple-container"></div></div></a>
                    {% endif %}
                </div>
                <div class="col-md-8">
                    <h3 class="card-title">
                        <a href="{{ page.get_absolute_url }}">{{page.title}}</a>
                    </h3>
                    <p class="card-description">{% autoescape off %}{{ page.content|truncatechars:235 }}{% endautoescape %}</p>
                    <p class="author">
                        Автор: <b>{{ page.user }}</b>, {{page.timestamp|timesince}}
                    </p>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    </div>
{% endif %}
</div>
</div>
</div>
    {% include "footer.html" %}
{% endblock %}