{% extends "base.html" %}
{% block title %}Контакты | {{block.super}}{% endblock title %}
{% block extra_body %}
    <script type="text/javascript">$('body').addClass('contact-page');</script>
{% endblock %}
{%block content%}
<div class="page-header header-filter header-small" data-parallax="active" style="background-image: linear-gradient(60deg, #00bcd4, #1f2fa2);">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center">
                <h1 class="title">Контакты</h1>
            </div>
        </div>
    </div>
</div>
<div class="main main-raised">
    <div class="contact-content">
        <div class="container">
            {% include "messages.html" %}
            <h2 class="title">Отправьте сообщение</h2>
            <div class="row">
                <div class="col-md-12">
                    <p class="description">Контактная форма для связи со мной. Все поля обязательны кроме Темы письма.<br><br></p>
                    <form role="form" id="contact-form" method="post" action=" ">{% csrf_token %}
                    {{ form.non_field_errors }}
                        <div class="form-group label-floating is-empty">
                            <label for="{{ form.subject.id_for_label }}" class="control-label">Тема</label>
                            <input id="id_subject" type="text" name="subject" class="form-control">
							<span class="material-input" style="color: #f44336;">{{ form.subject.errors }}</span>
                        </div>
                        <div class="form-group label-floating is-empty">
                            <label for="{{ form.name.id_for_label }}" class="control-label">Ваше имя</label>
                            <input id="id_name" type="text" name="name" class="form-control">
							<span class="material-input" style="color: #f44336;">{{ form.name.errors }}</span>
                        </div>
                        <div class="form-group label-floating is-empty">
                            <label for="{{ form.sender.id_for_label }}" class="control-label">Email адрес</label>
                            <input id="id_sender" type="email" name="sender" class="form-control">
							<span class="material-input" style="color: #f44336;">{{ form.sender.errors }}</span>
                        </div>
                        <div class="form-group label-floating is-empty">
                            <label for="{{ form.message.id_for_label }}" class="control-label">Сообщение</label>
                            <textarea id="id_message" type="text" name="message" class="form-control" rows="6"></textarea>
							<span class="material-input" style="color: #f44336;">{{ form.message.errors }}</span>
                        </div>
                        <div class="form-group label-floating is-empty">
                            {{ form.captcha }}
							<span class="material-input" style="color: #f44336;">{{ form.captcha.errors }}</span>
                        </div>
                        <div class="submit text-center">
                            <input type="submit" class="btn btn-info btn-raised btn-round" value="Отправить">
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>
    {% include "footer.html" %}
{%endblock content%}