<footer class="footer">
    <div class="container">
        <a class="footer-brand" href="{% url 'list' %}">Useful Me</a>
        <ul class="pull-center">
            <li><a href="{% url 'contacts' %}">Контакты</a></li>
            {% if user.is_authenticated %}
                <li><a href="{% url 'user_page' %}">Вы( {{ user.username }} )</a></li>
                <li><a href="{% url 'logout' %}">Выход</a></li>
            {% else %}
                <li><a href="{% url 'regist' %}">Регистрация</a></li>
                <li><a href="{% url 'login' %}">Войти</a></li>
            {% endif %}
        </ul>
        <ul class="social-buttons pull-right">
            <li>
                <a href="https://vk.com/id41553847" target="_blank" class="btn btn-just-icon btn-vk btn-simple"><i class="fa fa-vk"></i>
                </a>
            </li>
            <li>
                <a href="https://github.com/Vitalio44" target="_blank" class="btn btn-just-icon btn-github btn-simple"><i class="fa fa-github"></i></a>
            </li>
        </ul>
    </div>
</footer>