<div class="page-header header-filter header-small" data-parallax="active">
    <div class="hero" id="particles-js">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center">
                    <h1 class="title">Useful Me</h1>
                    <h3>Полезное мне и ... может кому еще пригодится</h3>
                </div>
            </div>
        </div>
       <div class="w wave"></div>
       <div class="w wave2"></div>
       <div class="w wave3"></div>
       <div class="w wave4"></div>
    </div>
</div>

