{% if messages %}
    {% for message in messages %}
    <div class="alert alert-danger" role="alert">
        <div class="alert-icon"><i class="material-icons">info_outline</i></div>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true"><i class="material-icons">clear</i></span></button>
        {{ message }}
    </div>
    {% endfor %}
{% endif %}
