{% load staticfiles %}
<nav class="navbar navbar-default navbar-fixed-top navbar-color-on-scroll navbar-transparent">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
             <a class="navbar-brand" href="{% url 'list' %}">
            <svg version="1.1" id="handup"
	 xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="-12 -15 320 150"
	 style="width: 125px" xml:space="preserve" filter="url(#f1)">
<style type="text/css">
	.st0{fill:#ffffff;}
	.st1 {
		fill:url(#Gradient1);
		-webkit-transform-origin: 50px 50px;
        -moz-transform-origin: 50px 50px;
        -o-transform-origin: 50px 50px;
        -ms-transform-origin: 50px 50px;
        transform-origin: 50px 50px;

        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);

        -webkit-transition: all 500ms ease;
        -moz-transition: all 500ms ease;
        -ms-transition: all 500ms ease;
        -o-transition: all 500ms ease;
        transition: all 500ms ease;
	}
	#handup:hover .st1 {
		-webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        transform: rotate(90deg);
	}
	svg:hover {
		cursor: pointer;
	}
</style>
<defs>
    <linearGradient id="Gradient1"
                    x1="0%" y1="0%"
                    x2="0%" y2="100%"
                    spreadMethod="pad">
      <stop offset="0%"   stop-color="#00bcd4" stop-opacity="1"/>
      <stop offset="100%" stop-color="#1f2fa2" stop-opacity="1"/>
    </linearGradient>
    <filter id="f1" x="0" y="0" width="150%" height="150%">
      <feOffset result="offOut" in="SourceAlpha" dx="1" dy="3" />
      <feGaussianBlur result="blurOut" in="offOut" stdDeviation="3" />
      <feBlend in="SourceGraphic" in2="blurOut" mode="normal" />
    </filter>
</defs>
<g>
	<path class="st1" d="M3.5816,51.8892c0,0,6.4893-5.5215,15.9601-1.5573s12.277,9.2024,12.277,9.2024l2.9816-51.3922
		c0,0,2.6308-6.6541,8.5939-6.6541c5.9631,0,9.4708,3.5394,10.3477,7.362c0.8769,3.8226,0.5262,24.4927,0.5262,24.4927
		s8.7693-8.0698,16.4862,1.6989c0,0,8.1634-8.2622,15.8804,1.9313c0,0,8.849-6.3201,14.286,3.8733
		c1.6433,3.081-0.8769,41.1987-0.8769,41.1987s-2.9816,18.8296-12.8031,19.2544c-9.8216,0.4247-32.7971,0-32.7971,0
		s-18.4155,1.8405-25.7817-18.6881C25.6133,74.1159,3.5816,61.9411,3.5816,61.9411S-1.1539,55.7118,3.5816,51.8892z"/>
	<g>
		<g>
			<path class="st0" d="M184.2185,92.4285c-1.2666,2.2705-4.1035,4.3574-8.5117,6.2627c-4.1553,1.8643-8.0059,2.7969-11.5518,2.7969
				c-1.3184,0-2.4961-0.3438-3.5342-1.0342c-1.0391-0.6885-1.5576-1.54-1.5576-2.5537c0-0.5254,0.1514-1.0527,0.4561-1.5801
				l15.96-28.6982c0.2529-0.4048,0.3799-0.7495,0.3799-1.0337c0-0.5669-0.4063-0.8511-1.2168-0.8511
				c-1.6719,0-3.6475,0.7603-5.9277,2.2803c-2.2793,1.52-3.7998,2.9893-4.5596,4.4082l-16.1885,29.0625H136.947l18.7715-33.8662
				c0.2529-0.4453,0.3799-0.8101,0.3799-1.0942c0-0.5264-0.3545-0.7905-1.0635-0.7905c-1.6221,0-3.5723,0.8115-5.8525,2.4321
				c-2.0781,1.459-3.4951,2.8784-4.2559,4.2563l-16.1875,29.0625h-11.5518l18.8477-33.8662
				c0.0498-0.1216,0.0762-0.2632,0.0762-0.4253c0-0.4048-0.2793-0.7905-0.8359-1.1553c-0.5586-0.3647-1.1152-0.5474-1.6719-0.5474
				h-13.1484c-1.2158,0-1.8242-0.5669-1.8242-1.7022c0-1.1753,0.6846-1.7632,2.0518-1.7632h18.4688
				c5.0156,0,7.9795,0.7095,8.8916,2.1279c3.5967-1.6206,7.1182-2.4321,10.5645-2.4321c1.8232,0,3.5713,0.1426,5.2432,0.4258
				c2.5332,0.4053,3.8252,1.0742,3.877,2.0064c2.1279-1.6206,5.3691-2.4321,9.7275-2.4321h0.8359
				c2.0264,0,3.9014,0.3647,5.624,1.0942c2.0264,0.8516,3.04,1.9458,3.04,3.2832c0,0.4863-0.1523,0.9937-0.4561,1.52L171.071,95.408
				c-0.0518,0.1211-0.0762,0.2227-0.0762,0.3037c0,0.2842,0.2275,0.4258,0.6836,0.4258c1.6211,0,3.584-0.6582,5.8906-1.9756
				c2.3047-1.3174,3.8379-2.624,4.5977-3.9219L184.2185,92.4285z"/>
			<path class="st0" d="M208.6907,92.4285c-1.2676,2.3105-4.1553,4.4385-8.6641,6.3838c-4.1553,1.7842-7.7271,2.6758-10.7153,2.6758
				h-5.7764c-5.4717,0-8.208-1.4385-8.208-4.3174c0-1.499,0.709-3.4854,2.1279-5.958l2.4316-4.3779
				c1.2168-2.1885,2.8623-4.0127,4.9404-5.4717c2.3301-1.6211,4.8379-2.4316,7.5234-2.4316h7.5239
				c3.2422,0,4.8643,0.9932,4.8643,2.9785c0,1.2158-0.8877,3.4258-2.6602,6.6279c-1.2676,2.3096-3.7754,3.4648-7.5244,3.4648
				h-7.5991l-1.8242,3.2227c-0.3545,0.6484-0.5322,1.2158-0.5322,1.7021c0,0.6084,0.3047,0.9121,0.9121,0.9121h2.2041
				c4.9136,0,9.5493-1.1553,13.9077-3.4658c2.584-1.418,4.2813-2.7959,5.0918-4.1338l1.9766,2.1279V92.4285z M192.199,88.5984
				l2.811-4.9854c0.0498-0.1621,0.0762-0.2832,0.0762-0.3652c0-0.4863-0.4307-0.7295-1.292-0.7295
				c-1.0635,0-1.7983,0.3857-2.2036,1.1553l-2.8115,4.9248H192.199z"/>
		</g>
		<g>
			<path class="st0" d="M155.3225,47.0161c-1.2666,2.2705-4.0791,4.3574-8.4355,6.2622c-4.1553,1.8647-8.0068,2.7969-11.5527,2.7969
				c-2.9385,0-4.4072-1.1953-4.4072-3.5874c0-0.3647,0.0498-0.7495,0.1514-1.1548c-4.0537,3.1616-9.0186,4.7422-14.8955,4.7422
				c-3.4463,0-5.168-1.2358-5.168-3.709c0-1.1343,0.4043-2.4316,1.2158-3.8911l14.668-26.2656
				c0.0498-0.1216,0.0762-0.2632,0.0762-0.4253c0-0.4048-0.2793-0.7905-0.8359-1.1553c-0.5586-0.3647-1.1152-0.5474-1.6719-0.5474
				h-13.1484c-1.2158,0-1.8242-0.5669-1.8242-1.7021c0-1.1753,0.6846-1.7632,2.0518-1.7632h18.4688
				c6.0801,0,9.1201,1.0942,9.1201,3.2832c0,0.6895-0.2285,1.459-0.6846,2.3101l-15.8076,28.3936
				c-0.1523,0.2432-0.2285,0.4668-0.2285,0.6689c0,0.3647,0.2783,0.5474,0.8359,0.5474c0.6084,0,1.4443-0.2026,2.5088-0.6079
				c4.0527-1.5811,6.8135-3.709,8.2832-6.3843l15.7324-28.2109h11.0195L142.175,49.9952c-0.0518,0.1216-0.0762,0.2231-0.0762,0.3042
				c0,0.2837,0.2529,0.4253,0.7598,0.4253c1.5693,0,3.5205-0.6582,5.8516-1.9756c2.3301-1.3169,3.8506-2.624,4.5605-3.9219
				L155.3225,47.0161z"/>
			<path class="st0" d="M185.1145,47.1377c-2.3818,2.959-5.9033,5.2495-10.5635,6.8701c-4.0029,1.3784-8.0566,2.0674-12.1602,2.0674
				c-6.6885,0-10.0322-1.9048-10.0322-5.7153c0-0.0806,0-0.1416,0-0.1821c-1.7744,1.6216-5.3457,3.2832-10.7158,4.9854l0.2275-3.04
				c9.1699-4.6606,16.0361-9.5244,20.5967-14.5918c-0.1523-0.4048-0.2285-0.8511-0.2285-1.3379
				c0-1.2964,0.4053-2.6748,1.2158-4.1343c1.7734-3.1616,4.1807-4.7422,7.2207-4.7422c2.584,0,3.876,0.6489,3.876,1.9453
				c0,0.5273-0.1787,1.1353-0.5322,1.8242c-0.6592,1.0942-2.0518,2.7358-4.1797,4.9248c3.6475,3.6079,5.4717,6.4048,5.4717,8.3901
				c0,2.5947-2.2549,5.1685-6.7637,7.7217c2.3809,0,5.0918-0.7495,8.1318-2.2495c2.8369-1.3774,5.0156-3.1616,6.5361-5.3501
				L185.1145,47.1377z M164.1389,47.6846c0.6074-1.0942,0.9121-2.2495,0.9121-3.4653s-0.3047-2.1479-0.9121-2.7969
				c-1.4189,1.2568-3.5225,3.1616-6.3086,5.7153c-0.2031,0.6489-0.3037,1.2769-0.3037,1.8848c0,1.1763,0.4053,1.7632,1.2158,1.7632
				C161.175,50.7857,162.9729,49.752,164.1389,47.6846z M170.0666,30.7217c0-0.1616-0.1777-0.2432-0.5322-0.2432
				c-0.6592,0-1.1152,0.2231-1.3682,0.6685c-0.1514,0.2842-0.2275,0.5884-0.2275,0.9121c0,0.2036,0.0254,0.4468,0.0762,0.7295
				C169.383,31.6543,170.0666,30.9649,170.0666,30.7217z"/>
			<path class="st0" d="M208.9016,47.0161c-1.2676,2.3101-4.1553,4.4385-8.6641,6.3838c-4.1553,1.7842-7.7275,2.6753-10.7158,2.6753
				h-5.7764c-5.4717,0-8.208-1.4385-8.208-4.3169c0-1.499,0.709-3.4854,2.1279-5.9585l2.4316-4.3774
				c1.2168-2.189,2.8623-4.0127,4.9404-5.4722c2.3301-1.6206,4.8379-2.4316,7.5234-2.4316h7.5244
				c3.2422,0,4.8643,0.9937,4.8643,2.979c0,1.2158-0.8877,3.4258-2.6602,6.6274c-1.2676,2.3101-3.7754,3.4653-7.5244,3.4653h-7.5996
				l-1.8242,3.2227c-0.3545,0.6484-0.5322,1.2158-0.5322,1.7021c0,0.6079,0.3047,0.9121,0.9121,0.9121h2.2041
				c4.9141,0,9.5498-1.1553,13.9082-3.4658c2.584-1.418,4.2813-2.7964,5.0918-4.1343l1.9766,2.1279V47.0161z M192.4094,43.1856
				l2.8115-4.9854c0.0498-0.1616,0.0762-0.2832,0.0762-0.3652c0-0.4863-0.4307-0.7295-1.292-0.7295
				c-1.0635,0-1.7988,0.3857-2.2041,1.1553l-2.8115,4.9248H192.4094z"/>
			<path class="st0" d="M226.761,49.9952c-0.9121,0.8115-2.1543,1.48-3.7246,2.0063c-1.5713,0.5273-2.9385,0.7905-4.1035,0.7905
				c-0.6084,0-1.166-0.061-1.6719-0.1826c0.4561,0.4058,0.6836,0.7705,0.6836,1.0947c0,0.2842-0.2031,0.8311-0.6084,1.6416
				L214.1448,61c-0.8623,1.5811-2.8379,2.8369-5.9277,3.7695c-2.5342,0.7695-4.915,1.1553-7.1445,1.1553
				c-4.4082,0-6.6123-1.2373-6.6123-3.709c0-0.8506,0.2793-1.8037,0.8359-2.8574l20.2168-36.2974
				c1.2158-2.1479,3.0645-3.8096,5.5479-4.9858c2.2803-1.0537,4.7881-1.5806,7.5234-1.5806c1.874,0,3.5977,0.2837,5.168,0.8511
				c1.874,0.6895,2.8125,1.6216,2.8125,2.7969c0,0.4053-0.127,0.8311-0.3799,1.2769l-8.8164,15.8076
				c-0.9629,1.7432-2.2549,3.4258-3.876,5.0464c-2.0273,2.0273-4.0029,3.3652-5.9277,4.0132
				c0.4053,1.7837,1.5957,2.6748,3.5723,2.6748c1.165,0,2.3555-0.3848,3.5713-1.1553L226.761,49.9952z M208.2922,60.7569
				l3.04-5.4111c0.7607-1.3379,1.1406-2.5537,1.1406-3.6479c0-0.8911-0.3301-1.4185-0.9883-1.5811
				c-1.3184,2.3516-3.2676,5.8975-5.8516,10.6401c-0.1025,0.1611-0.1523,0.3037-0.1523,0.4258c0,0.3232,0.2529,0.4863,0.7598,0.4863
				C207.3049,61.669,207.9885,61.3653,208.2922,60.7569z M221.4407,37.2271l8.6641-15.5645
				c0.0498-0.0811,0.0762-0.1616,0.0762-0.2432c0-0.4458-0.4063-0.6689-1.2158-0.6689c-0.7109,0-1.2422,0.3037-1.5967,0.9121
				c-2.5342,4.6206-6.3838,11.5518-11.5518,20.7935C217.842,42.0103,219.718,40.2671,221.4407,37.2271z"/>
			<path class="st0" d="M260.5041,47.0161c-1.2666,2.2295-4.0791,4.3169-8.4355,6.2622c-4.1553,1.8647-8.0068,2.7969-11.5527,2.7969
				c-1.6221,0-2.5586-0.6079-2.8115-1.8242c-1.875,1.2979-3.9268,1.9458-6.1563,1.9458c-5.4219,0-8.1318-1.459-8.1318-4.3774
				c0-1.499,0.709-3.5059,2.1279-6.0195l6.3838-11.4912h9.9561L233.22,49.813c-0.3545,0.6484-0.5313,1.2368-0.5313,1.7632
				c0,0.5679,0.3037,0.8511,0.9111,0.8511c1.0645,0,2.001-0.7695,2.8125-2.3105l9.8799-17.8145l8.4355,3.709l-6.9912,12.707
				c-0.2031,0.3647-0.3047,0.6899-0.3047,0.9731c0,0.5269,0.3799,0.79,1.1406,0.79c1.4688,0,3.3174-0.6479,5.5479-1.9453
				c2.2285-1.2969,3.6728-2.5327,4.332-3.709l2.0518,2.1279V47.0161z"/>
			<path class="st0" d="M279.9602,47.0161c-1.4189,2.5537-4.1553,4.7422-8.208,6.5664c-3.6992,1.6626-7.2197,2.4927-10.5645,2.4927
				c-2.3818,0-4.3828-0.5063-6.0039-1.52c-1.7734-1.0942-2.6602-2.5537-2.6602-4.3774c0-0.6079,0.1523-1.1953,0.4561-1.7632
				l14.1367-25.3535c1.2158-2.1479,3.0645-3.8096,5.5479-4.9858c2.2803-1.0537,4.7881-1.5806,7.5234-1.5806
				c1.874,0,3.5977,0.2837,5.168,0.8511c1.874,0.6895,2.8125,1.6216,2.8125,2.7969c0,0.4053-0.127,0.8311-0.3799,1.2769
				l-4.9404,8.8765c-2.9385,5.2695-7.9033,8.9785-14.8955,11.1265l-3.9521,7.1138c-0.2539,0.4053-0.3799,0.7705-0.3799,1.0942
				c0,0.8921,0.7852,1.3374,2.3555,1.3374c2.0771,0,4.3701-0.6172,6.8779-1.854c2.5088-1.2363,4.1924-2.665,5.0547-4.2866
				L279.9602,47.0161z M276.844,30.2959l4.8643-8.6333c0-0.0811,0.0244-0.1616,0.0762-0.2432c0-0.4048-0.3799-0.6084-1.1406-0.6084
				c-0.8105,0-1.3936,0.3252-1.748,0.9731c-1.6719,3.04-4.2305,7.6206-7.6758,13.7407
				C273.2463,35.1202,275.1213,33.377,276.844,30.2959z"/>
		</g>
	</g>
</g>
</svg>
            </a>
        </div>
        <div class="collapse navbar-collapse" id="navigation-example">
            <ul class="nav navbar-nav navbar-right">
		<li><a href="/portfolio/">Портфолио</a></li>
                <li><a href="{% url 'contacts' %}">Контакты</a></li>
                {% if user.is_authenticated %}
                    <li class="dropdown">
                        <a href=" " class="profile-photo dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
                            <div class="profile-photo-small">
                                {% if user.socialaccount_set.all.0.get_avatar_url %}
                                    <img src="{{ user.socialaccount_set.all.0.get_avatar_url }}" alt="{{ user }}" class="img-circle img-responsive">
                                {% elif user.userprofile.picture %}
                                    <img src="{{ user.userprofile.picture.url }}" alt="{{ user }}" class="img-circle img-responsive">
                                {% else %}
                                    <img src="{% static 'img/standart.jpg' %}" alt="Circle Image" class="img-circle img-responsive">
                                {% endif %}
                            </div>
                            <div class="ripple-container"></div></a>
                        <ul class="dropdown-menu">
                            <li class="dropdown-header">{{ user.username }}</li>
                            <li><a href="{% url 'user_page' %}">Профиль</a></li>
                            <li class="divider"></li>
                            <li><a href="{% url 'logout' %}">Выход</a></li>
                        </ul>
                    </li>
                {% else %}
                    <li><a href="{% url 'regist' %}">Регистрация</a></li>
                    <li><a href="{% url 'login' %}">Войти</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
