{% extends "base.html" %}
{% block content %}
{% include "img_top.html" %}
<div class="main main-raised">
<div class="container">
    {% include "messages.html" %}
<div class="section">
    <div class="row">
        <div class="col-md-8 col-md-offset-2 text-center">
            <h5 class="description">Useful Me - это проект реализации возможных решений при разработке вэб-приложений на основе python django.</h5>
        </div>
        <div class="col-md-2 text-right">
            <form class="navbar-form navbar-right" method="get" action="">
                <div class="form-group form-white is-empty">
                    <input class="form-control" type="text" name="s" placeholder="Поиск ..." value="{{ request.GET.s }}">
                    <span class="material-input"></span>
                    <button style="display: none;" type="submit" value="Search" class="btn btn-white btn-raised btn-fab btn-fab-mini"><i class="material-icons">search</i></button>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-md-offset-3 text-center">
            <ul class="nav nav-pills nav-pills-primary">
                {% for cat in category_list %}
                <li><a href="{{ cat.get_absolute_url }}">{{ cat.name }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="row">
    {% for obj in object_list %}
    <div class="col-md-10 col-md-offset-1">
        <div class="card card-plain card-blog">
            <div class="row">
                <div class="col-md-4">
                    {% if obj.image %}
                        <a href="{{ obj.get_absolute_url }}">
                            <div class="card-image">
                                <img class="img img-raised" src="{{ obj.image.url }}">
                                <div class="ripple-container"></div>
                            </div>
                        </a>
                    {% endif %}
                </div>
                <div class="col-md-8">
                    <h6 class="category text-info">{{ obj.category.name }}</h6>
                {% if user.is_superuser %}
                    <a href="{{ obj.get_absolute_url }}up"><h6 class="category text-danger">Изменить</h6></a>
                {% endif %}
                    <h3 class="card-title">
                        <a href="{{ obj.get_absolute_url }}">{{obj.title}}</a>
                    </h3>
                    <p class="card-description">{% autoescape off %}{{ obj.content|truncatechars:235 }}{% endautoescape %}</p>
                    <p class="author">Автор: <b>{{ obj.user }}</b>, {{obj.timestamp|timesince}} | {{ obj.likes }} людям нравится пост</p>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    </div>
    <div class="row">
        <div class="col-md-12 text-center">
            <ul class="pagination pagination-info">

            {% for page in object_list.paginator.page_range %}
                {% if page == object_list.number %}
                <li class="active"><a href="?page={{ page }}">{{ page}}</a></li>
                {% else %}
                <li><a href="?page={{ page }}">{{ page}}</a></li>
                {% endif %}
            {% endfor %}
            </ul>
        </div>
    </div>
</div>
</div>
</div>
    {% include "footer.html" %}
{% endblock content %}



