{% extends "base.html" %}
{% load staticfiles %}
{% load mptt_tags %}
{% block title %}{{instance.title}} | {{block.super}}{% endblock title %}
{% block extra_body %}
    <script>
        $('#likes').click(function(){
            var postid;
            postid = $(this).attr("data-postid");
            $.get('/like/', {obj_id: postid}, function(data){
                $('#like_count').html(data);
            });
        });
    </script>
{% endblock %}
{%block content%}
<div class="page-header header-filter header-small" data-parallax="active"
        {% if instance.image %} style="background-image: url('{{ instance.image.url }}');"
     {% else %}style="background-image: linear-gradient(60deg, #00bcd4, #1f2fa2);"{% endif %}>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center">
                <h1 class="title">{{ title }}</h1>
            </div>
        </div>
    </div>
</div>
<div class="main main-raised">
    <div class="container">
    {% include "messages.html" %}
        <div class="section section-text">
            <div class="row">
                <div class="col-md-7 col-md-offset-1">
                        <h3 class="title">{{ title }}</h3>
                        {% autoescape off %}{{ instance.content }}{% endautoescape %}
                        <hr>
                        <div>
                        <a id="likes" data-postid="{{ instance.id }}" class="btn btn-danger btn-simple pull-right">
                            <i class="material-icons">favorite</i> <span id="like_count">{{ instance.likes }}</span><div class="ripple-container"></div>
                        </a>
                        </div>
                    </div>
                <div class="col-md-2 col-md-offset-1 stats">
                    <h4 class="title">Автор</h4>
                    <ul class="list-unstyled">
                        <li><b>{{ instance.user }}</b></li>
                    </ul>
                    <hr />
                    <h4 class="title">Расскажи</h4>
                    <a href="https://twitter.com/home?status={{ share_string }}%20{{ request.build_absolute_uri }}" class="btn btn-twitter btn-round">
                        <i class="fa fa-twitter"></i> Twitter</a>
                    <a href="http://vk.com/share.php?url={{ request.build_absolute_uri }}" class="btn btn-vk btn-round">
                        <i class="fa fa-vk"></i> ВКонтакте</a>
                    <a href="https://www.facebook.com/sharer.php?u={{ request.build_absolute_uri }}" class="btn btn-facebook btn-round">
                        <i class="fa fa-facebook-square"></i> Facebook</a>
                    <a href="https://plus.google.com/share?url={{ request.build_absolute_uri }}" class="btn btn-google btn-round">
                        <i class="fa fa-google-plus"></i> Google</a>
                    <hr />
                </div>
            </div>
        </div>
        <div class="section section-comments">
				<div class="row">
					<div class="col-md-8 col-md-offset-2">
                    {% if nodes %}
						<div class="media-area">
							<h3 class="title text-center">Комментарии ({{ nodes.count }})</h3>
                            {% recursetree nodes %}
							<div class="media">
                                <a class="pull-left" >
                                    <div class="avatar">
                                        {% if node.user.socialaccount_set.all.0.get_avatar_url %}
                                             <img class="media-object" alt="{{ node.user }}" src="{{ node.user.socialaccount_set.all.0.get_avatar_url }}">
                                        {% elif node.user.userprofile.picture %}
                                            <img class="media-object" alt="{{ node.user }}" src="{{ node.user.userprofile.picture.url }}">
                                        {% else %}
                                            <img class="media-object" alt="{{ node.user }}" src="{% static "/img/standart.jpg" %}">
                                        {% endif %}
                                    </div>
                                </a>
                                <div class="media-body">
                                    <h4 class="media-heading">{{ node.user }} <small>· {{ node.date|timesince }}</small></h4>
                                    <p>{{ node.content }}</p>
                                    <div class="media-footer">
                                        {% if not node.parent %}
                                            {% if user.is_authenticated %}
                                            <div class="panel panel-default">
                                                <div class="panel-heading" role="tab" id="headingOne">
                                                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne{{ node.id }}" aria-expanded="false" aria-controls="collapseOne" class="collapsed">
                                                        <h4 class="panel-title">Ответить<i class="material-icons">keyboard_arrow_down</i></h4>
                                                    </a>
                                                </div>
                                                <div id="collapseOne{{ node.id }}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne" aria-expanded="false" style="height: 0px;">
                                                    <div class="panel-body">
                                                        <div class="media-body">
                                                            <form method="POST" action=" ">
                                                                <div class="form-group is-empty">
                                                                    {% csrf_token %}
                                                                    <input type="hidden" name="parent" value="{{ node.id }}">
                                                                    <textarea name="content" rows="6" class="form-control" placeholder="Ответ на комментарий выше" maxlength="250" required="" id="id_content"></textarea>
                                                                    <span class="material-input"></span>
                                                                </div>
                                                                <div class="media-footer"><input type="submit" class="btn btn-primary btn-round btn-wd pull-right" value="Отправить"></div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            {% endif %}
                                        {% endif %}
                                    </div>
                                    {% if not node.is_leaf_node %}
                                        {{ children }}
                                    {% endif %}
                                </div>
							</div>
                            {% endrecursetree %}
						</div>
                    {% endif %}
                    {% if user.is_authenticated %}
						  <h3 class="title text-center">Твой комментарий</h3>
						  <div class="media media-post">
                              {% if user.userprofile.picture %}
							  <a class="pull-left author" href="/">
								  <div class="avatar">
										<img class="media-object" alt="{{ user }}" src="{{ user.userprofile.picture.url }}">
								  </div>
							  </a>
                              {% else %}
                                  <a class="pull-left author" href="/">
								  <div class="avatar">
										<img class="media-object" alt="{{ user }}" src="{% static "/img/standart.jpg" %}">
								  </div>
							  </a>
                              {% endif %}
							  <div class="media-body">
                                  <form method="POST" action=" ">
                                      <div class="form-group is-empty">
                                          {% csrf_token %}
                                          <textarea name="content" rows="6" class="form-control" placeholder="Напиши хороший комментарий или ничего..." maxlength="250" required="" id="id_content"></textarea>
                                          <span class="material-input"></span>
                                      </div>
                                      <div class="media-footer">
                                          <input type="submit" class="btn btn-primary btn-round btn-wd pull-right" value="Отправить">
                                      </div>
                                  </form>
							  </div>
						  </div> <!-- end media-post -->
                    {% else %}
                        <h3 class="title text-center">
                            <a class="text-primary" href="{% url 'account_signup' %}">Зарегистрируйтесь</a> или
                            <a class="text-primary" href="{% url 'account_login' %}">авторизируйтесь</a> для комментирования
                        </h3>
                    {% endif %}
					</div>
				</div>
			</div>
    </div>
</div>
    {% include "footer.html" %}
{%endblock content%}