{% extends "base.html" %}
{% load static %}
{% block title %}Сменить пароль | {{block.super}}{% endblock title %}
{% block extra_body %}
    <script type="text/javascript">
$(document).ready(function() {
    $('body').addClass('login-page');
    $('nav').removeClass('navbar-default navbar-fixed-top navbar-color-on-scroll navbar-transparent');
    $('nav').addClass('navbar-primary navbar-transparent navbar-absolute');
});
</script>
{% endblock %}
{%block content%}
<div class="page-header header-filter" filter-color="blue">
    <div class="hero" id="particles-js">
		<div class="container">
			<div class="row">
    			<div class="col-md-10 col-md-offset-1">
					<div class="card card-profile">
                        <div class="card-avatar">
                            {% if user.socialaccount_set.all.0.get_avatar_url %}
                                <a href="{% url 'user_page' %}"><img class="img" alt="{{ user }}" src="{{ user.socialaccount_set.all.0.get_avatar_url }}"></a>
                            {% elif user.userprofile.picture %}
                                 <a href="{% url 'user_page' %}"><img class="img" alt="{{ user }}" src="{{ user.userprofile.picture.url }}"></a>
                            {% else %}
                                <a href="{% url 'user_page' %}"><img class="img" alt="{{ user }}" src="{% static "/img/standart.jpg" %}"></a>
                            {% endif %}
                        </div>
                        <h2 class="card-title text-center">{{ user }}{% if user.is_superuser %} (admin){% endif %}</h2>
                    {% include "messages.html" %}
                        <div class="info info-horizontal" style="max-width: 90%;">
                            <div class="description">
                                <div class="row">
                                    <div class="col-md-5 col-md-offset-1">
                                        {% if user.socialaccount_set.all.0.get_avatar_url %}
                                            <form method="post">{% csrf_token %}
                                            <div class="form-group is-empty">
                                                <input type="password" name="new_password1" placeholder="Новый пароль" required="" id="id_new_password1" class="form-control">
                                                <span class="material-input" style="color: #f44336;">{{ form.new_password1.errors }}</span>
                                            </div>
                                            <div class="form-group is-empty">
                                                <input type="password" name="new_password2" placeholder="Повтори" required="" id="id_new_password2" class="form-control">
                                                <span class="material-input" style="color: #f44336;">{{ form.new_password2.errors }}</span>
                                            </div>
                                            <button type="submit" class="btn btn-primary btn-round">Сохранить изменения</button>
                                            </form>
                                        {% else %}
                                        <form method="post">{% csrf_token %}
                                            <div class="form-group is-empty">
                                                <!--<label for="id_old_password" class="control-label">Старый пароль</label>-->
                                                <input type="password" name="old_password" autofocus="" placeholder="Старый пароль" required="" id="id_old_password" class="form-control">
                                                <span class="material-input" style="color: #f44336;">{{ form.old_password.errors }}</span>
                                            </div>
                                            <div class="form-group is-empty">
                                                <!--<label for="id_new_password1" class="control-label">Новый пароль</label>-->
                                                <input type="password" name="new_password1" placeholder="Новый пароль" required="" id="id_new_password1" class="form-control">
                                                <span class="material-input" style="color: #f44336;">{{ form.new_password1.errors }}</span>
                                            </div>
                                            <div class="form-group is-empty">
                                                <!--<label for="id_new_password2" class="control-label">Повтори</label>-->
                                                <input type="password" name="new_password2" placeholder="Повтори" required="" id="id_new_password2" class="form-control">
                                                <span class="material-input" style="color: #f44336;">{{ form.new_password2.errors }}</span>
                                            </div>
                                            <button type="submit" class="btn btn-primary btn-round">Сохранить изменения</button>
                                        </form>
                                        {% endif %}
                                    </div>
                                    <div class="col-md-5 col-md-offset-1">
                                        <ul class="text-left">
                                            <li>Ваш пароль не должен совпадать с вашим именем или другой персональной информацией или быть слишком похожим на неё.</li>
                                            <li>Ваш пароль должен содержать как минимум 6 символов.</li>
                                            <li>Ваш пароль не может быть одним из широко распространённых паролей.</li>
                                            <li>Ваш пароль не может состоять только из цифр.</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                	</div>
                </div>
            </div>
		</div>
        <div class="w wave"></div>
        <div class="w wave2"></div>
        <div class="w wave3"></div>
        <div class="w wave4"></div>
    </div>
</div>
{%endblock content%}