{% extends "base.html" %}
{% load static %}
{% load account socialaccount %}
{% block title %}Реистрация | {{block.super}}{% endblock title %}
{% block extra_body %}
    <script type="text/javascript">
$(document).ready(function() {
var url = location.pathname;
  if ("url:contains('email')") {
      $('body').addClass('login-page');

  }
});
</script>
{% endblock %}
{%block content%}
<div class="page-header header-filter">
<div class="hero" id="particles-js">
    <div class="container">
        {% include "messages.html" %}
        <div class="row">
            <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
                <div class="card card-signup">
                    <form id="user_form" method="post" action="{% url 'regist' %}" enctype="multipart/form-data" autocomplete="off">
                        {% csrf_token %}
                        {% if registered %}
                            <div class="header header-primary text-center"><h4 class="card-title">Регистрация</h4></div>
                            <div class="content">
                                <h4 class="text-center">Спасибо что зарегистрировались</h4>
                                <h4 class="text-center"><a class="text-center" href="{% url 'list' %}">Вернутся на главную</a></h4>
                            </div>
                        {% else %}
                            <div class="header header-primary text-center">
                                <h4 class="card-title">Регистрация</h4>
                                {% get_providers as socialaccount_providers %}
                                {% if socialaccount_providers %}
                                <div class="social-line">
                                    <a href="{% provider_login_url "facebook" method="oauth2" %}" class="btn btn-just-icon btn-simple">
                                    <i class="fa fa-facebook-square"></i></a>
                                    <a href="{% provider_login_url "vk" method="oauth2" %}" class="btn btn-just-icon btn-simple">
                                    <i class="fa fa-vk"></i></a>
                                </div>
                                {% endif %}
                            </div>
							<p class="description text-center">Введите свои данные</p>
							<div class="content">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="material-icons">face</i></span>
                                <div class="form-group is-empty">
                                    <input type="text" name="username" value="" class="form-control" placeholder="Имя пользователя" autofocus required>
                                    <span class="material-input"></span></div>
                            </div>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="material-icons">email</i></span>
                                <div class="form-group is-empty">
                                    <input type="email" name="email" class="form-control" placeholder="Email..." required>
                                    <span class="material-input"></span></div>
                            </div>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="material-icons">lock_outline</i></span>
                                <div class="form-group is-empty">
                                    <input type="password" name="password" value="" placeholder="Пароль..." class="form-control" required>
                                    <span class="material-input"></span></div>
                            </div>
                            <div class="form-group form-file-upload is-empty is-fileinput">
								<input type="file" name="picture" value="" id="inputFile2">
								<div class="input-group">
                                    <span class="input-group-addon"><i class="material-icons">camera</i></span>
									<input type="text" readonly="" class="form-control" placeholder="Фото">
								</div>
							    <span class="material-input"></span>
                            </div>
                            <div class="footer text-center">
                                <input type="submit" name="submit" value="Отправить" class="btn btn-primary" />
                            </div>
                        {% endif %}
                            </div>
                        </form>
					</div>
				</div>
			</div>
		</div>
    <div class="w wave"></div>
    <div class="w wave2"></div>
    <div class="w wave3"></div>
    <div class="w wave4"></div>
</div>
</div>
{%endblock content%}