{% extends "base.html" %}
{% load static %}
{% block title %}Сменить пароль | {{block.super}}{% endblock title %}

{%block content%}
<div class="page-header header-filter" filter-color="blue">
    <div class="hero" id="particles-js">
		<div class="container">
			<div class="row">
    			<div class="col-md-10 col-md-offset-1">
					<div class="card card-profile">
                        <div class="card-avatar">
                            {% if user.socialaccount_set.all.0.get_avatar_url %}
                                <a href="{% url 'user_page' %}"><img class="img" alt="{{ user }}" src="{{ user.socialaccount_set.all.0.get_avatar_url }}"></a>
                            {% elif user.userprofile.picture %}
                                 <a href="{% url 'user_page' %}"><img class="img" alt="{{ user }}" src="{{ user.userprofile.picture.url }}"></a>
                            {% else %}
                                <a href="{% url 'user_page' %}"><img class="img" alt="{{ user }}" src="{% static "/img/standart.jpg" %}"></a>
                            {% endif %}
                        </div>
                        <h2 class="card-title text-center">{{ user }}{% if user.is_superuser %} (admin){% endif %}</h2>
                    {% include "messages.html" %}
                        <div class="info info-horizontal" style="max-width: 90%;">
                            <div class="description">
                                <div class="row">
                                    <div class="col-md-5 col-md-offset-1">
                                        <form method="post">
                                            {% csrf_token %}

                                            <!--<label for="id_username">Имя пользователя:</label>-->

                                            <div class="form-group is-empty">
                                                <input type="text" name="username" maxlength="50" required="" id="id_username" placeholder="{{ user.username }}" class="form-control">
                                                <span class="material-input" style="color: #f44336;">{{ form.username.errors }}</span>
                                            </div>

                                            <button type="submit" class="btn btn-primary btn-round">Сохранить изменения</button>
                                        </form>
                                    </div>
                                    <div class="col-md-5 col-md-offset-1">
                                        <p>Обязательное поле. Не более 50 символов. Только буквы, цифры и символы @/./+/-/_.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                	</div>
                </div>
            </div>
		</div>
        <div class="w wave"></div>
        <div class="w wave2"></div>
        <div class="w wave3"></div>
        <div class="w wave4"></div>
    </div>
</div>
{%endblock content%}